n8n_workflow/workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        -96
      ],
      "id": "39ba57d6-b5ef-4661-a474-a2d77ff44719",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wPoYDHJhKNIhJjSe",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Image Test",
        "formFields": {
          "values": [
            {
              "fieldLabel": "imageFile",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -432,
        176
      ],
      "id": "c6b1659a-b6b2-4795-bd00-d74d982df52c",
      "name": "On form submission",
      "webhookId": "0a110c19-9180-4750-a92e-56f1db010fad"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1f9989e6-c4cb-490d-8adf-6bffc6e3c0a1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        0
      ],
      "id": "d2827e15-1409-4a95-8a6a-1cd88dc425b4",
      "name": "Webhook",
      "webhookId": "1f9989e6-c4cb-490d-8adf-6bffc6e3c0a1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8868/reportar-resultado",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"task_id\": {{$('setup_task').first().json.task_id}},\n  \"ocr_base\": \"{{$('OCR_call').first().json.transcription}}\",\n  \"ocr_llm\": \"{{ $('LLM_translate').first().json.text}}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        144
      ],
      "id": "b470a4e0-c178-4110-9b88-ee3a5d9a9f0e",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        736,
        128
      ],
      "id": "1e581a6e-7bda-46c1-8cfd-b58b73a4e327",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Corrija os erros de transcrição no texto a seguir, que foi gerado por um OCR de um registro civil histórico brasileiro. Seja o mais fiel possível ao vocabulário e estilo de escrita originais. Retorne apenas o texto corrigido.\n\nTexto com erros: \"{{ $json.transcription }}\"",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        400,
        -224
      ],
      "id": "9deb5e6a-bfcc-44fc-9fb1-40915ffc1c04",
      "name": "LLM_translate"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8868/ocr",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "imageFile"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        0
      ],
      "id": "0c00e698-e86e-487a-bd20-8b304f2953b1",
      "name": "OCR_call"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b9501a07-bc12-4fcb-8388-bfe496f8a68f",
              "name": "task_id",
              "value": "=\"{{ $json.body.task_id }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        176
      ],
      "id": "f984eb13-6588-457e-aae9-9e2b84d99a20",
      "name": "setup_task"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "LLM_translate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "setup_task",
            "type": "main",
            "index": 0
          },
          {
            "node": "OCR_call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "setup_task",
            "type": "main",
            "index": 0
          },
          {
            "node": "OCR_call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    },
    "LLM_translate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR_call": {
      "main": [
        [
          {
            "node": "LLM_translate",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "setup_task": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1f116c83-72b1-4913-8a55-d1e8abd5241c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06ac4bdf3cfb97df83362831daaf2d1ac327031707c0d9c02c3bdb4e9b2e8aa5"
  },
  "id": "xAvK4qPbWeSvEX3x",
  "tags": []
}